body {
    background-color: #ebedef;
}

.navbar-brand {
    color: #496595;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
    color:black;
}

:hover.nav-link {
    color: #496595;
}

h1 span {
    color: #496595;
}

p {
    line-height: 1.8;
}

#background-diensten {
    z-index: -10;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

#maindiensten {
    background-color: #ebedef;
}

#emptydiv {
    height: 70vh;
}






/* 

#496595     donker
#90a7c4
#c6d0de
#ebedef     licht
#d4d0af     brown off color

*/