body {
    background-color: #ebedef;
}

.navbar-brand {
    color: #496595;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.5rem;
    color:black;

}

:hover.nav-link {
    color: #496595;
}

:hover.active {
    color: black;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    color: #496595;
}

h1 span {
    color: #496595;
}

p {
    line-height: 1.8;
}

#background-diensten {
    z-index: -10;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

#maindiensten {
    background-color: #ebedef;
}

#emptydiv {
    height: 70vh;
}

.active {
    text-decoration: underline;
}

.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 200ms;
    min-height: 100%;
  }

.card:hover {
    transform: translate(0, -0.25rem);
}

.icon_dog {
    max-width: 4rem;
    height: auto;
}

/* 

#496595     donker
#90a7c4
#c6d0de
#ebedef     licht
#d4d0af     brown off color

*/